body{
    background-image: url(/img/photo.jpg);
    height: 100vh;
width: 100vw;
background-image: url(https://i.pinimg.com/originals/24/8e/47/248e47a848da59d73bd1b58b34b65a7c.gif);
background-color: rgb(30, 48, 34);
background-repeat:no-repeat;
background-position:center;
background-size:90%;
flex-direction: column;
justify-content: left;
align-items: flex-start;
box-sizing: border-box;
padding: 0 112px;
position: relative;
}
h2{
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
    padding: 0 700px 0;

}
