body{
background-image: url(/img/photo.jpg);
height: 100vh;
width: 100vw;
background-image: url(https://i.pinimg.com/originals/24/8e/47/248e47a848da59d73bd1b58b34b65a7c.gif);
background-color: rgb(39, 49, 41);
background-repeat:no-repeat;
background-position:center;
background-size:90%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
box-sizing: border-box;
padding: 0 122px;
position: relative;
}
h2{
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
    padding: 0 700px 0;

}
.card-text{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
  .card{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
  }





















/*body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;

}

.header-container{
height: 100vh;
width: 100vw;
background-color: rgb(48, 40, 58);
background-image: url(./img/photo.jpg);
background-repeat: no-repeat;
background-position: center;
background-size:contain;
display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;
box-sizing: border-box;
padding: 0 112px;
position: relative;
}

h1{
    font: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menu{
    display: flex;
    align-items: left;
    justify-content: left;
    color:#ffffff
    
}

.linkedin{
    margin-top: 1rem;
    display: flex;
    background: #ffffff;
}

.linkedin{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.github{
    margin-top: 1rem;
    display: flex;
    background: #ffffff;
}

.github{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in;
}

a:hover{
    background-color: #ffffff;

}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out;
}

.checkbox .trace{
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

/* <header class="header-container">
<div class="header">
    <div class="checkbox-container">
        </div>
            <div class="checkbox-wrapper">
                <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                            <div class="trace"></div>
                                <div class="trace"></div>
                    </label>
                <div class="menu">
            <nav class="menu-items">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Projetos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



        <h1>Francisco Vinicius</h1>
        <h2>ESTAGIÁRIO</h2>
        <div class="linkedin">
            <a href="#">Linkedin </a>

        </div> <div class="github">
        <a href="#">Github</a>
        </div>
        

    </header>
<main class="container">

</main>
    <footer class="footer"> </footer>*/